MAINICON ICON "Sergey Bulba\Ay_Emul.ico"
1 ICON "X-agon\Ay_Emul1.ico"
2 ICON "X-agon\Ay_Emul2.ico"
3 ICON "X-agon\Ay_Emul3.ico"
4 ICON "X-agon\Ay_Emul4.ico"
5 ICON "David Willis\ay.ico"
6 ICON "Graham Goring\icon32.ico"
7 ICON "Graham Goring\icon16.ico"
8 ICON "Graham Goring\icon32b.ico"
9 ICON "Graham Goring\icon16b.ico"
10 ICON "bcass\ayico32.ico"
11 ICON "bcass\ayico16.ico"
12 ICON "Exocet\ay_emul_big.ico"
13 ICON "Exocet\ay_emul_small.ico"
14 ICON "Roman Morozov\ay.ico"
